In [3]:
import pathlib
import pandas as pd

In [6]:
# Importing Dataset's
Qoutes_set = pd.read_csv('Data/ES_Quotes.csv')
Trades_set = pd.read_csv('Data/ES_Trades.csv')

### Dataset Overview:

In [8]:
Qoutes_set.head()

  Symbol        Date          Time  Bid_Price  Ask_Price  Bid_Size  Ask_Size
0  ESU13  09/01/2013  17:00:00.095     1640.0    1640.25        10      1452
1  ESU13  09/01/2013  17:00:00.095     1640.0    1640.25        10      1452
2  ESU13  09/01/2013  17:00:00.095     1640.0    1640.25        10        16
3  ESU13  09/01/2013  17:00:00.095     1640.0    1640.25         9        16
4  ESU13  09/01/2013  17:00:00.095     1640.0    1640.25         7        16

In [9]:
Trades_set.head()

  Symbol        Date          Time    Price  Volume
0  ESU13  09/01/2013  17:00:00.083  1640.25       8
1  ESU13  09/01/2013  17:00:00.083  1640.25       1
2  ESU13  09/01/2013  17:00:00.083  1640.25       2
3  ESU13  09/01/2013  17:00:00.083  1640.25       1
4  ESU13  09/01/2013  17:00:00.083  1640.25       1